<div class="mainchat-container">
    <div class="date">
        <h4 id="date"></h4>
    </div>
    <h1 id="journal-heading">My Journals</h1>  
    <div class="journal-container">
        <!-- Journal List -->
        <div class="journal-list">
            <h2>Your Entries</h2>
            <div id="journalEntries">
                <div id="journal-content">
                    <p id="content">qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</p>
                    <span>12:00am</span>
                </div>
                <a href="#">Delete</a>
            </div>
        </div>
    
        <!-- Add Journal Form -->
        <div class="add-journal">
            <input type="text" id="journalTitle" placeholder="Journal Title">
            <textarea id="journalTextArea" placeholder="Write your journal entry..." style = "display:block"></textarea>
            <button id="addJournalBtn">Add Journal</button>
        </div>
    </div>
</div>
