<div class="Profile">
        <h1>Profile</h1>
        <div class="date">
            <input type="date" id="date">
        </div>
    <div class="profile-Picture-Container">
        <img src="" id="profile-pics-img">
    </div>
    <div class="profile-data">
        <h1></h1>
        <p class="profile-item" id="email"></p>
        <p class="profile-item" id="phonenumber"></p>
        <p class="profile-item" id="nok-fullName"></p>
        <p class="profile-item" id="nok-contact"></p>
        <p class="profile-item" id="age"></p>
        <p class="profile-item" id="gender"></p>
        <p class="profile-item" id="occupation"></p>
        <p class="profile-item" id="address"></p>        
    </div>
</div>