<div class="Profile">
        <h1>Profile</h1>
        <div class="date">
            <input type="date" id="date">
        </div>
    <div id="inner-container">
        <div class="profile-Picture-Container">
            <img src="" id="profile-img">
        </div>
        <div class="profile-data">
            <div id="profile-data-wrapper">
                <span>Fullname: </span>
                <p id="fullname"></p>
            </div>
            <div id="profile-data-wrapper">
                <span>Email: </span>
                <p class="profile-item" id="email"></p>
            </div>
            <div id="profile-data-wrapper">
                <span>Phone: </span>
                <p class="profile-item" id="phonenumber"></p>
            </div>
            
            <div id="profile-data-wrapper">
                <span>Age: </span>
                <p class="profile-item" id="age"></p>
            </div>
            <div id="profile-data-wrapper">
                <span>Gender: </span>
                <p class="profile-item" id="gender"></p>
            </div>
            <div id="profile-data-wrapper">
                <span>Occupation: </span>
                <p class="profile-item" id="occupation"></p>
            </div>
            <div id="profile-data-wrapper">
                <span>Address: </span>
                <p class="profile-item" id="address"></p>
            </div>

            <!---=-----------NOK-------------------->
            <div id="profile-data-wrapper">
                <span>NOK fullname: </span>
                <p class="profile-item" id="nok-fullName"></p>
            </div>
            <div id="profile-data-wrapper">
                <span>NOK Phone: </span>
                <p class="profile-item" id="nok-contact"></p>
            </div>
            <div>
                <button id="profile-Edit">Edit</button>
            </div>  
        </div>
        
    </div>
    
</div>