body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
}

.login-container {
    width: 40%;
    height: 95vh;
    float: right;
    background-color: #fff;
    padding: 20px;
    margin-right: 10%;
    border-left: 3px solid rgb(250, 250, 250);
}

.image-container{
    width: 50%;
}

.image-container img{
    width: 40%;
    margin: 33% 26% ;
}

.inner-container{
    width: 80%;
    /* height: 50%; */
    margin: 30% 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

}

h2 {
    padding-top: 3%;
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    
}

    .input-group label {
        display: block;
        margin-bottom: 5px;
        color: #666;
        margin-left: 10px;
    }

    .input-group input {
        width: 90%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 10px;
    }

button {
    width: 90%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 6%;
    margin-bottom: 10%;
    font-size: 16px;
}

    button:hover {
        background-color: #0056b3;
    }

.data{
    display: none;
}

.g-signin2{
    position: absolute;
    top: 50%;
    left: 67%
}